body {
    background-color: #eec0c7;
    background-image: url("https://live.staticflickr.com/65535/49187198983_6f0149ce48_o_d.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-style: italic;
    text-align: center;
    color: rgb(255, 251, 35);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
    background-color: rgb(255, 251, 35);
    font-size: 20px;
    border-radius: 50%;
    padding: 20px 40px;
    border: 1.5px solid black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
}

.click {
    text-align: center;
    color: black;
}

#insults {
    font-size: 30px;
    padding: 30px;
    font-style: italic;
    color: sienna;
}